.banner-about {
    #banner-img{
    background-image: url(../images/banner-about.jpg);
    }

}

.our-team {
    .our-team-line {
        width: 10%;
        border-top-color: $main-color;
    }

    .card-text{
        font-size: 14px;
        margin: 14px 0;
        font-weight: 600;
        color: $scard-text-color;
    }
}

.social-about{
    margin-right: 18px;
    margin-left: 25px;
}