.banner-contact{
    #banner-img{
        background-image: url(../images/banner-contact.jpg);
    }
}

.contact-us {
    #contact-info {
        svg {
            color: $main-color;
            margin-right: 5px;
        }
    }
}

@media (max-width:767px) {
    .contact-header {
        margin-top: 50px;
    }
}